torch
--index-url https://download.pytorch.org/whl/cu121
torchvision
torchaudio
numpy 
pandas
matplotlib
seaborn
ipykernel
matplotlib
transformers
opencv-python
streamlit
imageio
av
easydict
timm
scikit-learn
umap